
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.idea/
*.userprefs
*.pidb
*.vshost.exe*
*.g.resources

*.nupkg
**/packages/*
!**/packages/repositories.config

*.esym
*.mrg
*.pfe
*.err
*.cod
*.lst
*.sta
*.sym
*.tre
*.pwi
*.bak
*.dof
*.desktop

*.PDB
*.SDI
*.WORKSPACE
*.pdsprj.WORKSPACE
*.pdsprj.*.workspace

build/
dist/
nbproject/private/
nbproject/Makefile-*
nbproject/Package-*
*.o
*.d
*.elf
*.hex


*.mdf
*.ldf
*.ndf

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
